<html>

<head>
  <title>Pipeline viewer</title>
  <link rel="stylesheet" href="https://unpkg.com/chota">
  <link href="style.css" rel="stylesheet" />
  <meta charset=utf-8 />
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-SYML2PW7PX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SYML2PW7PX');
  </script>
</head>

<body>
  <div class="row">
    <div class="col">
      <h1>How to get a compiled YAML pipeline on Azure Devops?</h1>

      <p>You can download your compiled YAML pipeline from the Edit page. Here is how you can find it:</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a href="1.png" target="_blank">
        <img src="1.png" alt="page 1" class="find-compiled-pipeline-image">
      </a>
      <p class="find-compiled-pipeline-description">First, select the project where your pipeline is located</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a href="2.png" target="_blank">
        <img src="2.png" alt="page 2" class="find-compiled-pipeline-image">
      </a>
      <p class="find-compiled-pipeline-description">In your project page, click on the pipelines option on the menu at the left</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a href="3.png" target="_blank">
        <img src="3.png" alt="page 3" class="find-compiled-pipeline-image">
      </a>
      <p class="find-compiled-pipeline-description">Now, click on the pipeline you want to preview</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a href="4.png" target="_blank">
        <img src="4.png" alt="page 4" class="find-compiled-pipeline-image">
      </a>
      <p class="find-compiled-pipeline-description">Click on "Edit"</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a href="5.png" target="_blank">
        <img src="5.png" alt="page 5" class="find-compiled-pipeline-image">
      </a>
      <p class="find-compiled-pipeline-description">Finally, select the branch you want to use to preview your pipeline, and after the page reloads click on the three dots button at the top right and on "Download full YAML"</p>
    </div>
  </div>

  <div class="row">
      <div class="col"><a href="/">Click here to go to the home page</a></div>
  </div>

  <script>
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
      document.body.classList.add('dark');
    }
  </script>
</body>

</html>