<html>
    <head></head>

    <body>
        <form action="/read-pipeline" method="post">
            <textarea name="pipeline" id="pipeline" cols="30" rows="10"></textarea>

            <button type="submit">Print</button>
        </form>
    </body>
</html>