<!DOCTYPE html>
<html>

<head>
  <link href="style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/chota">
  <meta charset=utf-8 />
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
  <title>Pipeline viewer</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.20.0/cytoscape.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-SYML2PW7PX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SYML2PW7PX');
  </script>
</head>

<body>
  <div id="cy"></div>
  <div id="inspector">
    <div id="toolbar">
      <a class="button" href="/">Preview another pipeline</a>
    </div>
    <h1 id="current_name">Select something</h1>
    <h2 id="current_type"></h2>
    <ul id="attributes"></ul>
    <h2 id="children_type"></h2>
    <ul id="children"></ul>
  </div>

  <!-- Load application code at the end to ensure DOM is loaded -->

  <script>
    var cy = window.cy = cytoscape({
      container: document.getElementById('cy'),
    
      boxSelectionEnabled: false,
    
      style: [
        {
          selector: 'node',
          css: {
            'content': 'data(name)',
            'text-valign': 'center',
            'text-halign': 'center'
          }
        },
        {
          selector: ':parent',
          css: {
            'text-valign': 'top',
            'text-halign': 'center',
          }
        },
        {
          selector: 'edge',
          css: {
            'curve-style': 'bezier',
            'target-arrow-shape': 'triangle'
          }
        }
      ],
    
      elements: {
        nodes: <%= JSON.generate(@stages + @jobs) %>,
        edges: <%= JSON.generate(@stages_edges + @jobs_edges) %>,
      },
    
      layout: {
        name: 'preset',
        padding: 5
      }
    });

    cy.on('tap', 'node', function(evt){
      var node = evt.target;

      document.getElementById('current_name').innerHTML = node.data().name;
      document.getElementById('current_type').innerHTML = node.data().type;
      document.getElementById('children_type').innerHTML = node.data().children_type;
      document.getElementById('attributes').innerHTML = node.data().attributes.map((attribute) => `<li>${attribute.name}: ${attribute.value}</li>`);
      document.getElementById('children').innerHTML = node.data().children.map((child) => `<li>${child}</li>`);
    });
  </script>
</body>

</html>