/* body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
} */

body {
  padding: 20px;
}

#cy {
  height: 100%;
  width: 70%;
  position: absolute;
  left: 0;
  top: 20px;
}

#inspector {
  height: 100%;
  width: 30%;
  position: absolute;
  right: 0;
  top: 20px;
}

h1#current_name {
  margin-bottom: 5px;
}

h2#current_type {
  color: #777;
  margin-top: 5px;
}

body.dark {
  --bg-color: #000;
  --bg-secondary-color: #131316;
  --font-color: #f5f5f5;
  --color-grey: #ccc;
  --color-darkGrey: #777;
}

img.find-compiled-pipeline-image {
  width: 30%;
  margin: 0 auto;
}

p.find-compiled-pipeline-description {
  width: 40%;
}